@page "/mail"
@using Services
@inject ConfigService ConfigService
@inject NavigationManager Nav

<h3>Accesos</h3>

@if (_error)
{
    <RedirectToLoginOrUnauthorized />
}
else if (_resultado == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <pre>@_resultado</pre>
}

<button class="btn btn-danger mt-3" @onclick="GoHome"> Regresar </button>

@code {
    private string? _resultado;
    private bool _error;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _resultado = await ConfigService.EnviarMailAsync();
        }
        catch (UnauthorizedAccessException)
        {
            _error = true;
        }
    }

    private void GoHome()
    {
        Nav.NavigateTo("/", true);
    }
}